/* src/components/card/Card.css */
:root {
  --cal-poly-green: #26532b;
  --shamrock-green: #399e5a;
  --verdigris: #5abcb9;
  --turquoise: #63e2c6;
  --aqua: #6ef9f5;
  --dark-bg: #121212;
}

.card {
  background: #1E3424;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Esto separará los elementos internos */
  margin: 20px auto;
  /* Margen superior e inferior y auto para centrar horizontalmente */
  padding: 10px;
  /* Espaciado interno */
  max-width: 70%;
  /* Limita el ancho máximo de la tarjeta */
  border-radius: 8px;
  /* Bordes redondeados para la tarjeta */
}

.card-number {
  width: 40px;
  font-size: 24px;
  margin: 0px 10px 0px 20px;
}


.card-image img {
  border-radius: 8px;
  width: 100px;
  height: 100px;
}

.card-info {
  flex-grow: 1;
  padding-left: 10px;
  /* Agregar algo de espacio entre la imagen y el texto */
}

.card-info h3,
.card-info p {
  margin: 0;
  /* Quitar los márgenes por defecto */
}

.card-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 150px;
  /* Ancho fijo para el área del botón */
}

.card-action img {
  height: 24px;
  /* Tamaño del ícono de Spotify */
  margin-right: 10px;
  /* Espacio entre el ícono y el texto */
}

.card-action button {
  background: none;
  border: none;
  color: #f7f9f8;
  /* Color del ícono de Spotify */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card-action button:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .card {
    flex-direction: column;
    max-width: 50%;

    text-align: center;
  }

  .card-action {
    flex-basis: 50px;

    display: none;
  }

   .card-info p {
    display: none;


}

h2 {
  text-align: center;
}
}
/* Agregar más estilos aquí si es necesario */