/* src/components/navbar/Navbar.css */
nav {
  margin: 0;
  background-color: #408C49;
  color: #fFF;
  padding: 30px;
  font-size: 20px;
  display: flex; /* Convertir la barra de navegación en un flex container */
  justify-content: flex-start; /* Alinear los elementos a la izquierda */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Convertir la lista en un flex container */
}

li {
  margin-right: 20px;
}

a {
  color: #dfcdcd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
